.popular{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    
    height: 90vh;
}
.popular h1{
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #171717;
}